# Programming Assignment 3

In this assignment, you will implement k-means and hierarchical clustering. You can use any library functions to implement the tasks.

## The Wine Dataset

### Dataset Description:

These data are the results of a chemical analysis of wines grown in the same region in Italy but derived from three different cultivars. The analysis determined the quantities of 13 constituents found in each of the three types of wines. 

The attributes are 
1) Alcohol  
2) Malic acid  
3) Ash  
4) Alcalinity of ash   
5) Magnesium  
6) Total phenols  
7) Flavanoids  
8) Nonflavanoid phenols  
9) Proanthocyanins  
10)Color intensity  
11)Hue  
12)OD280/OD315 of diluted wines  
13)Proline   

The first five instances of the dataset are shown below:

In [2]:
import pandas as pd

data=pd.read_csv('wine.csv')
data.head(5)

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

All columns except for the first one contain different features. The first column contains the class label (type of wine). DO NOT use data from the first column (i.e., the class labels) as feature.

## Task 1: k-means Clustering (50 points)

The basic K-means clustering works as follows:  

    1.Initialize ‘K’, number of clusters to be created.  
    2.Randomly assign K centroid points.  
    3.Assign each data point to its nearest centroid to create K clusters.  
    4.Re-calculate the centroids using the newly created clusters.  
    5.Repeat steps 3 and 4 until the centroid gets fixed.  

Apply k-means clustering on the wine dataset using euclidean distance as the distance metric and print the SSE (sum of squared errors) values for k = 2-8. (print the error values in %.2f format)

Example Output:  
For k = 2 After 15 iterations: Error =     
For k = 3 After 15 iterations: Error =   
For k = 4 After 15 iterations: Error =   
For k = 5 After 15 iterations: Error =   
For k = 6 After 15 iterations: Error =  
For k = 7 After 15 iterations: Error =   
For k = 8 After 15 iterations: Error =  

Display the SSE Error vs k plot and using elbow method, choose a good value for k.

## Task 2: Agglomerative Hierarchical Clustering (50 points)

The basic agglomerative hierarchical clustering works as follows:

    1. Initialize the proximity matrix 
    2. Let each data point be a cluster 
    3. Repeat the following steps until there is only one cluster left:
        a. Find the two closest clusters in the cluster list and merge them into a single cluster
        b. Update the cluster distance matrix to reflect the new cluster's distances to the other clusters
        c. Remove the two clusters that were just merged and add the new single cluster to the cluster list.
    4. Return the final single cluster, which is the hierarchy of clusters.
    
a) Perform Single link hierarchical clustering on the wine dataset using euclidean distance as the distance metric. Show the dendrogram and calculate the silhouette coefficient for k = 3.

b) Perform Complete link hierarchical clustering on the wine dataset using euclidean distance as the distance metric. Show the dendrogram and calculate the silhouette coefficient for k = 3.

### Submission Guidelines:
        
Submit through Canvas your source code in a single .ipynb file.   
The name of the .ipynb file should be YourStudentID.ipynb. (For example: 1001234567.ipynb)  
You don't need to attach the dataset with your submission.